/* Основной цвет текста #212121 */

/* Вторичный цвет текста #757575 */

/* Белый #FFFFFF */

/* Акцент #2196F3; */

/* Вторичный цвет фона #F5F4FA */

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --primary-background-color: #f5f4fa;
}

body {
  background-color: var(--white-color);
  color: var(--title-text-color);
}

.page-header {
  padding: 25px 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: ;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flexbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Логотип */
.logoweb {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logostudio {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer .logostudio {
  color: var(--white-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  }

/* Навигацыя */
.menu-nav {
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  margin-right: 85px;
}

.menu-list {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.link {
  color: color: var(--title-text-color);
  text-decoration: none;
}

.link:hover,
:focus {
  background: var(--accent-color);
}

/* Контакты */
.menu-contacts .linki {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mail-linki {
  margin-right: 30px;
}

.linki {
  text-decoration: none;
}

.linki:hover,
:focus {
  background: var(--accent-color);
}

/* Стили для Studio */
/* Hero */

.main {
  margin-bottom: ;
}

.hero-title {
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.hero-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  padding-bottom: 94px;
}

/* section */
.section-features {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-style: normal;
  color: #212121;
}
.section-work,
.section-team,
.section-client {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.section-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.features-item {
  display: flex;
  align-items: center;
}

.features-li:not(:last-child) {
  margin-right: 30px;
  align-items: center;
}

.work {
  margin-bottom: 94px;
}

/* Стили для Portfolio */
/* Фильтр */

.btn-filtr {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #212121;
}
.btn .btn-filtr:hover,
:focus {
  background: #2196f3;
  color: white;
}
/* Проеткы */
.project-link {
}
.project-title {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.footer {
  background: #2F303A;;
}

/* Дополнительня информация */
.info-navigation {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  
}
.info-mail {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  
}
.info-tel {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  
}
